body{
    background-image: url("../images/image-background.png");
}
h1{
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: orbitron;
    border: bisque;
    background-color: gray;
    opacity: 3.7;
    width: 600px;
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-family: orbitron;
    margin-left: 10%;
    margin-right: 10%;

background-image: linear-gradient(to right top, #051937, #07254d, #0a3164, #0d3d7b, #114a94);
}

.button-box{
    text-align: center;
    width: 75%;
    padding-top: 40px;
    float: left

}
.row-one{
    margin: 0px 20px 20px 10px;

}
.row-two{
    margin: 0px 20px 20px 10px;

}
.row-three{
    margin: 0px 20px 20px 10px;

}
.num{
    margin: 5px;
    width: 5em;
    height: 4em;
    font: inherit;
    background-color: #100a1c;
    color: rebeccapurple;
    font-size: 1.5em;
    

}
.switches{
    float: right;
    width: 25%;
    display: table-cell;
    vertical-align: middle;
}
.switch-one{
    display: block;
    margin-bottom: 20px;
    width: 130px;
    height: 50px;
    font: inherit;
    font-size: 1.5em;
    
}
.switch-two{
    display: block;
    margin-bottom: 20px;
    width: 130px;
    height: 50px;
    font: inherit;
    font-size: 1.5em;
}
.result{
    display: block;
    margin-bottom: 20px;
    font: inherit;
    width: 130px;
    height: 50px;
    font-size: 1.5em;

}
label{
    font: inherit;
    font-size: 1.5em;
}
.game-end, .game-over {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 100%;
    height: 100%;
  }
   
   .popup-content {
    /* opacity: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: whitesmoke;
    color: white;
    border-radius: 4px;
  }
  .switch-win{
    margin-bottom: 20px;
    width: 130px;
    height: 50px;
    font: inherit;
    font-size: 1.5em;
    
}
